*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 100%;
    height: 100%;
    background-image: url(images/quiz\ background\ 5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    position: absolute;
}
.container{
    width: 700px;
    padding: 30px;
    background-color: rgba(172, 172, 172, 0.048);
    border-radius: 10px;     
    box-shadow: -8px -10px 25px rgba(77, 76, 76, 0.068),
    inset 0px 5px 25px rgba(0, 0, 0, 0.404),
    5px 5px 10px rgba(77, 76, 76, 0.068),
    inset -5px -5px 15px rgba(0, 0, 0, 0.404);
    z-index: 10;
}
#heading{
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /*  background-color: antiquewhite; */
    text-align: center;
}
.quiz-box{
    width: 100%;
  /*  background-color: aqua; */
}
.question-area{
    margin: 20px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
    margin-block: 5px;
    text-align: left;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
  /*  color: white;  for other background templates */
   /* color: rgb(97, 97, 97); for other background templates */
    border-radius: 5px;
    transition: 0.45s;
    font-size: 16px;
}
.btn:hover:not([disabled]){
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.692) 20%, black);
    color: white;
    border: 1px solid #ffffffb4;
}
.btn:disabled{
    cursor: no-drop;
}

.correct{
    background-color: #ffffffb4;
    color: #000000;
    transform: scale(1.05);
    box-shadow: 5px 5px 3px rgb(0, 0, 0);
    border: none;
}
.incorrect{
    background-color: rgba(0, 0, 0, 0.849);
    color: #ffffffb4;
}
.next{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
    margin: 10px auto 0;
    text-align: center;
    outline: none;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.918);
    border-radius: 5px;
    width: 150px;
    color: white;
    letter-spacing: 2px;
    font-size: 17px;
    display: block;
    border: none;
}
